<div class="content-wrapper">
    <section class="content-header">
        <h1>
          Biểu đồ trung bình năm
          <!-- <small>Version 2.0</small> -->
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-user"></i> Thống kê
          </li>
          <li class="active">
            <a class="link" routerLink="/chartLineMonth" routerLinkActive="active menu">
              <i class="fa fa-list" aria-hidden="true"></i>Biểu đồ trung bình năm </a>
          </li>
        </ol>
      </section>
  <div class="container">
    <div class="col-md-12 text-center" style="margin-top: 20px">
      <div class="col-md-5 form-group">
        <label for="name" style="margin-right: 25px">Từ Năm:</label>
        <mat-form-field appearance="outline">
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp" placeholder="Month and Year" [formControl]="startPicker">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker touchUi #dp startView="multi-year" (yearSelected)="chosenYearStartHandler($event, dp)" panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <label for="name" style="margin-right: 25px">Đến Năm:</label>
        <mat-form-field appearance="outline">
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp1" placeholder="Month and Year" [formControl]="endPicker">
          <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
          <mat-datepicker touchUi #dp1 startView="multi-year" (yearSelected)="chosenYearEndHandler($event, dp1)" panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
      </div>

    </div>
  </div>
  <div id="curve1_chart" style="width: 90%; height: 500px; margin-left: 50px"></div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="line-spin-clockwise-fade"></ngx-spinner>
