td,th{
    width: 0% !important;
}
table.mat-calendar-table>thead>tr,th{
    width: 0% !important;
}
th{
    font-size: 13px;
    font-weight: bold; 
    color: #222D32;
}

.negative {
    background-color: rgb(224, 224, 224) !important;
}
.positive{
    background-color: rgb(211, 247, 208) !important;
}
tr.mat-row{
 background-color: white;
 padding-bottom: 10px !important;
}
.padd-left-none {
    padding-left: 0px;
}
.padd-right-none {
    padding-right: 0px;
}

.mat-form-field>.mat-form-field-wrapper{
    background-color: white !important
}
tr.mat-row:nth-child(odd){
    /* background-color: rgba(178, 194, 241, 0.247); */
    background:white;
    }

.example-chip-list {
     width: 100%;
}
/* .cdk-overlay-pane{
    position: fixed !important;
} */
/* table medicine */
