td,th{
    width: 0% !important;
}
table.mat-calendar-table>thead>tr,th{
    width: 0% !important;
}
th{
    font-size: 13px;
    font-weight: bold; 
    color: #222D32;
}

.negative {
    background-color: rgb(224, 224, 224) !important;
}
.positive{
    background-color: rgb(211, 247, 208) !important;
}
tr.mat-row{
 background-color: white;
 padding-bottom: 10px !important;
}
.padd-left-none {
    padding-left: 0px;
}
.padd-right-none {
    padding-right: 0px;
}

.mat-form-field>.mat-form-field-wrapper{
    background-color: white !important
}
tr.mat-row:nth-child(odd){
    /* background-color: rgba(178, 194, 241, 0.247); */
    background:white;
    }

.example-chip-list {
     width: 100%;
}
div.mat-form-field .mat-form-field-suffix .mat-icon-button{
    height: 1.5em !important;
}
/* table medicine */
div.scroll {
    height: 350px;
    overflow: auto;
}

.symptom{
border: 0.5px solid;
border-color: #DDDDDD;
padding: 5px;
}
ul.nav-tabs>li.active{
   font-weight: bold
}
button.btn-lg{
    padding: 13px 16px;
}