<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      User List
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-user"></i> User</a>
      </li>
      <li class="active">List User</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="col-md-12 table">
      <!-- <app-user-edit (UserAdded)="onUserAdded($event)"></app-user-edit> -->
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>Phone Number</th>
            <th>Password</th>
            <th>IsActive</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.password}}</td>
            <td>{{ user.isActive}}</td>
            <td class="text-right">
              <button style="margin: 5px" class="btn btn-danger" (click)="onUserDelete(user.userName)">Delete</button>
              <!-- <button class="btn btn-success" data-toggle="modal" data-target="#myModal" (click)="onPatientUpdate(patient.id,patient.name,patient.phoneNumber)">Update</button> -->
            </td>
          </tr>
          <tr *ngIf="users?.length == 0">
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>
</div>