<header class="main-header fixed ">

  <!-- Logo -->
  <a class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>C</b>C</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
        <b>Call</b>Center</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Navbar Right Menu -->
    <div class="navbar-inner title" [hidden]="hidden">Phòng khám {{fullName}}</div>
   
    <div class="navbar-custom-menu">

      <ul class="nav navbar-nav">
       
        <!-- Notifications: style can be found in dropdown.less -->
        <!-- <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
             
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                    page and may cause design problems
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-users text-red"></i> 5 new members joined
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-user text-red"></i> You changed your username
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li> -->
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/dist/img/default_user.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">{{fullName}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="assets/dist/img/default_user.jpg" class="img-circle" alt="User Image">
              <p>
                {{fullName}}
                <small>Tel: {{phoneNumber}}</small>
              </p>
            </li>
            <!-- Menu Body -->
            <!-- <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>
             
            </li> -->
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <button class="btn btn-default btn-flat" data-toggle="modal" data-target="#myModalPW">Change Password</button>
              </div>
              <div class="pull-right">
                <a href="" (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <!-- <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li> -->
      </ul>
    </div>
  </nav>
</header>
<!-- Modal -->
<div id="myModalPW" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 form-group">
            <div class="col-md-6 padd-left-none">
              <label for="username">User Name</label>
              <input type="text" id="username" class="form-control" disabled [(ngModel)]="username">
            </div>
            <div class="col-md-6 padd-right-none">
              <label for="fullName">Full Name</label>
              <input type="text" id="fullName" class="form-control" disabled [(ngModel)]="fullName">
            </div>
          </div>

          <div class="col-md-12 form-group">
            <div class="col-md-6 padd-left-none">
              <label for="currentpw">Current password</label>
              <input type="password" id="currentpw" class="form-control" [(ngModel)]="currentpw" (focusout)="checkPassword(username,currentpw)">
            </div>
            <div class="col-md-6 padd-text">
              <p style="color: gray; font-weight: bold">{{textValidPW}}</p>
            </div>
          </div>
          <div class="col-md-12 form-group">
            <div class="col-md-6 padd-left-none">
              <label for="newpw">New password</label>
              <input type="password" id="newpw" class="form-control" [(ngModel)]="newpw">
            </div>

          </div>
          <div class="col-md-12 form-group">
            <div class="col-md-6 padd-left-none">
              <label for="confirmpw">Confirm password</label>
              <input type="password" id="confirmpw" class="form-control" [(ngModel)]="confirmpw" (keyup)="ConfirmPW(newpw,confirmpw)">
            </div>
            <div class="col-md-6 padd-text">
              <p style="color: gray; font-weight: bold">{{textConfirmPW}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" (click)="onChangePassword(username,currentpw,newpw)" data-dismiss="modal">Change</button>
      </div>
    </div>

  </div>
</div>