.fixed{
    position: fixed;
    width: 100%;
}

.padd-left-none {
    padding-left: 0px;
}
.padd-right-none {
    padding-right: 0px;
}
.title{
    width: 70%;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    padding-top: 10px;
    color: linear-gradient(to right, #473CF8 0%, #2B7FFF 100%); 
    
    font-family: inherit
}