.fixed{
    position: fixed;
    width: 100%;
    text-align: center;
}

.padd-left-none {
    padding-left: 0px;
}
.padd-right-none {
    padding-right: 0px;
}
.title{
   
    /*  */
    /* text-align: center; */
    font-weight: bold;
    font-size: 26px;
    padding-top: 5px;
    color: white; 
    font-family: serif
}
.nav.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
    width: 80%;
    float: left;
}
