<aside class="main-sidebar fixed">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">
        <i class="fa fa-heartbeat"></i> &nbsp;
        <span>Phòng khám</span>
      </li>
      <li>
        <a class="link" routerLink="/appointmentList" routerLinkActive="active">
          <i class="fa fa-list"></i>Danh sách cuộc hẹn</a>
      </li>
      <li>
        <a class="link" routerLink="/blockList" routerLinkActive="active">
          <i class="fa fa-list" aria-hidden="true"></i>Danh sách SĐT bị chặn</a>
      </li>
      <li class="header">
        <i class="fa fa-clipboard-list"></i> &nbsp;
        <span>Thống kê</span>
      </li>
      <li>
        <a class="link" routerLink="/chartLineMonth" routerLinkActive="active">
          <i class="fa fa-chart-bar" aria-hidden="true"></i>Biểu Đồ Năm</a>
      </li>
      <li>
        <a class="link" routerLink="/chartLineYear" routerLinkActive="active">
          <i class="fa fa-chart-bar" aria-hidden="true"></i>Biểu Đồ Các Năm</a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>