<aside class="main-sidebar fixed">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/default_user.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{fullName}}</p>
        <a>
          <i class="fa fa-circle text-success"></i>Phòng khám</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active menu-open">
        <a>
          <i class="fa fa-heartbeat"></i>
          <span>Phòng khám</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a class="link" routerLink="/appointmentList" routerLinkActive="active menu">
              <i class="fa fa-list"></i>Danh sách cuộc hẹn</a>
          </li>
          <li>
              <a class="link" routerLink="/blockList" routerLinkActive="active menu">
                <i class="fa fa-list"></i>Danh sách SĐT bị chặn </a>
            </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>