<h1 mat-dialog-title>
  {{data.title}}</h1>
<hr>
<div mat-dialog-content>
  <div class="row text-center">
    <div class="col-md-12">
      <img src="assets/dist/img/exclamation-mark.png" class="wrong-image" alt="Wrong Image" width="150" height="150">
    </div>
    <div class="col-md-12">
      <label>{{data.content}}</label>
    </div>
  </div>
</div>




<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->