<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      License List
      <!-- <small>Version 2.0</small> -->
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-key"></i> License
      </li>
      <li class="active">
        <a class="link" routerLink="/userList" routerLinkActive="active menu">
          <i class="fa fa-list" aria-hidden="true"></i>License List</a>
      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
          <td mat-cell *matCellDef="let row; let rIndex = index;"> {{rIndex+1}} </td>
        </ng-container>
        <!-- User Column -->
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
          <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="accountSid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> AccountSid </th>
          <td mat-cell *matCellDef="let row"> {{row.accountSid}} </td>
        </ng-container>

        <!-- Password Column -->
        <ng-container matColumnDef="authToken">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Authetication Token </th>
          <td mat-cell *matCellDef="let row"> {{row.authToken}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="function">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Function </th>
          <td mat-cell *matCellDef="let row">
            <a (click)="onRemoveLicense(row.licenseID)">
              <i class="fa fa-trash" style="color: red"></i>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a (click)="onPushPopup(row.licenseID,row.name,row.price,row.duration,row.description)">
              <i data-toggle="modal" data-target="#myModal" class="fa fa-edit" style="color: blue"></i>
            </a>
          </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[ 25, 100]"></mat-paginator>
    </div>
  </section>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update License</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 form-group">
            <label for="licenseID">LicenseID</label>
            <input type="text" id="licenseID" class="form-control" disabled [(ngModel)]="licenseID">
          </div>
          <div class="col-md-12 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="name">
          </div>
          <div class="col-md-12 form-group">
            <label for="price">Price</label>
            <input type="text" id="price" class="form-control" [(ngModel)]="price">
          </div>
          <div class="col-md-12 form-group">
            <label for="duration">Duration</label>
            <input type="text" id="duration" class="form-control" [(ngModel)]="duration">
          </div>
          <div class="col-md-12 form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" [(ngModel)]="description">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" (click)="onUpdateLicense(licenseID)" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>