
table {
  width: 100%;
}

.mat-form-field {
  font-size: 15px;
  width: 100%;
}

tr.mat-row:nth-child(odd){
  /* background-color: rgba(178, 194, 241, 0.247); */
  background: linear-gradient(to right, rgba(73, 60, 248, 0.116) 0%, rgba(43, 128, 255, 0.116) 100%);
  }

.padd-text{
  padding-top: 30px;
}
.fa-close{
  font-size: 20px;
}
.fa-edit{
  font-size: 20px;
  color: #2B7FFF
}
.fa-trash{
  font-size: 20px;
}
.fa-retweet{
  font-size: 20px;
}
.fa-ban{
  font-size: 20px;
}
.fa-plus{
  font-size: 20px;
}
.fa-eye{
  font-size: 20px;
  color: #2B7FFF
}
.fa-bell{
  font-size: 17px;
}
.fa-minus{
  font-size: 20px;
}
.mat-form-field{
  line-height: 1 !important;
}
