
table {
  width: 100%;
}

.mat-form-field {
  font-size: 15px;
  width: 100%;
}

tr.mat-row:nth-child(odd){
  /* background-color: rgba(178, 194, 241, 0.247); */
  background-color: rgb(234, 217, 250, 0.347);
  }

.padd-text{
  padding-top: 30px;
}
.fa-close{
  font-size: 20px;
}
.fa-edit{
  font-size: 20px;
}
.fa-trash{
  font-size: 20px;
}
.fa-retweet{
  font-size: 20px;
}
.fa-ban{
  font-size: 20px;
}
.mat-form-field{
  line-height: 1 !important;
}
