
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* td, th {
  width: 25%;
} */
/* tr.mat-row:nth-child(even){
    background-color:red;
    } */
tr.mat-row:nth-child(odd){
  background-color: rgba(178, 194, 241, 0.247);
  }

.padd-text{
  padding-top: 30px;
}
.fa-edit{
  font-size: 20px;
}
.fa-trash{
  font-size: 20px;
}
.fa-retweet{
  font-size: 20px;
}
.fa-ban{
  font-size: 20px;
}
