<div class="test-bg">
  <div class="top">
    <h1>Call-Center</h1>
    <h3>Management</h3>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
    <div class="group">
      <input type="text" #UserName ngModel name="Username" placeholder="UserName" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Name</label>
    </div>
    <div class="group">
      <input type="password" #Password ngModel name="Password" placeholder="Password" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Password</label>
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="button buttonBlue">Sign In
      <div class="ripples buttonRipples">
        <span class="ripplesCircle"></span>
      </div>
    </button>
  </form>
</div>