<div class="test-bg">
  <div class="top">
    <h1>Call-Center</h1>
    <h3>Management</h3>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
    <div class="group">
      <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput #UserName ngModel name="Username" placeholder="Nhập bất kì">
        </mat-form-field>
    </div>
    <div class="group">
      <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" #Password ngModel name="Password" placeholder="Nhập bất kì">
        </mat-form-field>
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="button buttonBlue">Sign In
      <div class="ripples buttonRipples">
        <span class="ripplesCircle"></span>
      </div>
    </button>
  </form>
</div>