<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(../../../assets/dist/img/callcenter2.jpg);">
        <span class="login100-form-title-1">
          <span class="logo-lg">
            <b>Call</b>Center </span>
          <i class="fa fa-phone" style="color: white"></i>
        </span>
      </div>
      <form class="login100-form validate-form" #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
        <div class="wrap-input100 validate-input m-b-40" data-validate="Username is required">
          <span class="label-input100">Tên đăng nhập</span>
          <input class="input100" matInput #UserName ngModel name="Username" placeholder="Nhập tên đăng nhập">
        </div>
        <div class="wrap-input100 validate-input m-b-30" data-validate="Password is required">
          <span class="label-input100">Mật khẩu</span>
          <input class="input100" matInput type="password" #Password ngModel name="Password" placeholder="Nhập mật khẩu">
        </div>

        <div class="container-login100-form-btn">
          <button type="submit" [disabled]="!loginForm.valid" class="login100-form-btn" >
            Đăng nhập&nbsp;
            <div [hidden]="isLogin">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>
          </button>
          
        </div>
        <button *ngFor="let button of buttons"
                [class]="button.classNames"
                (click)="handleAction({ type: button.type, payload: item })">{{button.label}}
        </button>
      </form>

    </div>
  </div>
</div>
