*{
    box-sizing:border-box;
}
a{
    text-decoration: none;
    background-color:transparent;
}
.fixed{
    position: fixed;
}
.sidebar-menu>li:hover>a, .skin-purple .sidebar-menu>li.active>a, .skin-purple .sidebar-menu>li.menu-open>a{
    color:#717374;
    background: rgba(46, 119, 254, 0.034);
}
.sidebar-menu>li>a{
    border-left: 3px solid transparent;
    padding: 12px 5px 12px 15px;
    display:block;
    position:relative;
}
.sidebar-menu>li.active>a{
    border-left-color:#605ca8
}


.sidebar-menu .treeview-menu>li>a{
    color:#8aa4af
}
.treeview-menu > li > a{
    padding:5px 5px 5px 15px;
    display:block;
    font-size:15px;
}
.sidebar-menu li > a{
    position:relative
}

aside{
    overflow: auto;
}
.main-sidebar{
    padding-top:50px;
    z-index:810;
    width:230px;
    top:0;
    left:0;
    min-height: 100%;
    
}
.wrapper, .main-sidebar,.left-side{
background-color:#f7f7f7;
}
.sidebar-menu>li.header{
    border-top:0.5px solid rgba(73, 60, 248, 0.308);
    background:#f7f7f7;
    color:gray;
    font-weight: bold;
    font-size: 15px;
}
.sidebar a{
    color:#717374;
}
.sidebar-menu>li>a.active{
    border-left-color:#3A2CFF;
    color:#717374;
    background: rgba(46, 119, 254, 0.034);
}