<aside class="main-sidebar fixed">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
     
      <!-- ***************** -->
      <li class="header">
        <i class="fa fa-user"></i>&nbsp;
        <span>Administrator</span>
      </li>
      <li>
        <a class="link" routerLink="/adminAdd" routerLinkActive="active menu">
          <i class="fa fa-user-plus"></i>Create Administrator</a>
      </li>
      <li>
        <a class="link" routerLink="/adminList" routerLinkActive="active menu">
          <i class="fa fa-list" aria-hidden="true"></i>List Administrator</a>
      </li>
      <li class="header">
        <i class="fa fa-heartbeat"></i>&nbsp;
        <span>Clinic</span>
      </li>
      <!-- <li>
              <a class="link" routerLink="/clinicAdd" routerLinkActive="active menu">
                <i class="fa fa-circle-o"></i>Register Clinic</a>
            </li> -->
      <li>
        <a class="link" routerLink="/clinicList" routerLinkActive="active menu">
          <i class="fa fa-list" aria-hidden="true"></i>List Clinic</a>
      </li>

      <li class="header">
        <i class="fa fa-key"></i>&nbsp;
        <span>License</span>
      </li>
      <li>
        <a class="link" routerLink="/licenseAdd" routerLinkActive="active">
          <i class="fa fa-plus" aria-hidden="true"></i>Create License</a>
      </li>
      <li>
        <a class="link" routerLink="/licenseList" routerLinkActive="active">
          <i class="fa fa-list" aria-hidden="true"></i>List License</a>
      </li>

      <li class="header">
        <i class="fa fa-user"></i>&nbsp;
        <span>Staff</span>
      </li>
      <li>
        <a class="link" routerLink="/staffAdd" routerLinkActive="active">
          <i class="fa fa-user-plus" aria-hidden="true"></i>Create Staff</a>
      </li>
      <li>
        <a class="link" routerLink="/staffList" routerLinkActive="active">
          <i class="fa fa-list" aria-hidden="true"></i>List Staff</a>
      </li>
      <!-- <li class="header">Deverloper</li>
      <li>
        <a class="link" routerLink="/userList" routerLinkActive="active">
         
          <span>List All User</span>
        </a>
      </li> -->
      <!--  <li>
        <a href="#">
          <i class="fa fa-circle-o text-yellow"></i>
          <span>Warning</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-circle-o text-aqua"></i>
          <span>Information</span>
        </a>
      </li> -->
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>